In [43]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

### 데이터 읽기

In [3]:
entr_info = pd.read_csv('./data/기업현황.csv', encoding='cp949')
emply = pd.read_csv('./data/종업원수.csv', encoding='cp949')

### 결측치 처리

In [4]:
entr_info.isna().sum()

STDR_YM                           0
CTPRVN_NM                         0
SIGNGU_NM                    207337
ADSTRD_NM                         0
INDUTY_LCLAS_CODE                 0
INDUTY_MLSFC_CODE                 0
PDSMLPZ_SCTN_CODE                 0
INDUTY_LCLAS_NM                   0
INDUTY_MLSFC_NM                   0
PDSMLPZ_SCTN_NM                   0
BSN_NRMLT_ENTRPRS_CO              0
LTRS_CO                           0
MIDPZ_CO                          0
TLSME_CO                          0
PRTC_TRGET_MIDPZ_CO               0
MSLENTR_CO                        0
SSLENTR_CO                        0
SCHTWR_CO                         0
DCS_EXCL_ENTRPRS_CO               0
UN_CL_ENTRPRS_CO                  0
PRCSS_LTRS_CO                     0
PRCSS_MIDPZ_CO                    0
PRCSS_MSLENTR_CO                  0
PRCSS_SSLENTR_CO                  0
PRCSS_UN_CL_ENTRPRS_CO            0
PRCSS_DCS_EXCL_ENTRPRS_CO         0
REGIST_DE                         0
OPERTOR_NM                        0
dtype: int64

In [5]:
entr_info['SIGNGU_NM'].fillna('세종시', inplace=True)

In [6]:
emply.isna().sum()

STDR_YM                       0
CTPRVN_NM                     0
SIGNGU_NM                 77692
ADSTRD_NM                     0
INDUTY_LCLAS_CODE             0
INDUTY_MLSFC_CODE             0
INDUTY_LCLAS_NM               0
INDUTY_MLSFC_NM               0
PRCSS_ENTRPRS_SE_CODE         0
PRCSS_ENTRPRS_SE              0
PDSMLPZ_SCTN_CODE             0
PDSMLPZ_SCTN               4697
TOT_ENTRPRS_CO                0
EMPLY_CO                      0
EMPLY_AVRG_CO                 0
ECNY_CO                       0
ECNY_AVRG_CO                  0
RETIRE_CO                     0
RETIRE_AVRG_CO                0
WAGE_AVRG_AM             171462
REGIST_DE                     0
OPERTOR_NM                    0
dtype: int64

In [8]:
emply['SIGNGU_NM'].fillna('세종시', inplace=True)

### 기업 현황 그룹화

In [10]:
grouped_entr = entr_info.groupby(['STDR_YM', 'CTPRVN_NM','SIGNGU_NM','INDUTY_LCLAS_CODE','INDUTY_MLSFC_CODE','INDUTY_LCLAS_NM','INDUTY_MLSFC_NM'], as_index=False).sum()

In [11]:
grouped_entr

,STDR_YM,CTPRVN_NM,SIGNGU_NM,INDUTY_LCLAS_CODE,INDUTY_MLSFC_CODE,INDUTY_LCLAS_NM,INDUTY_MLSFC_NM,PDSMLPZ_SCTN_CODE,BSN_NRMLT_ENTRPRS_CO,LTRS_CO,MIDPZ_CO,TLSME_CO,PRTC_TRGET_MIDPZ_CO,MSLENTR_CO,SSLENTR_CO,SCHTWR_CO,DCS_EXCL_ENTRPRS_CO,UN_CL_ENTRPRS_CO,PRCSS_LTRS_CO,PRCSS_MIDPZ_CO,PRCSS_MSLENTR_CO,PRCSS_SSLENTR_CO,PRCSS_UN_CL_ENTRPRS_CO,PRCSS_DCS_EXCL_ENTRPRS_CO
0,2012-01,강원,강릉시,A,A01,농업; 임업 및 어업,농업,172,92,0,0,0,0,2,6,10,0,74,0,0,2,18,72,0
1,2012-01,강원,강릉시,A,A02,농업; 임업 및 어업,임업,1259,131,0,0,0,0,1,6,1,1,122,0,0,1,8,121,1
2,2012-01,강원,강릉시,A,A03,농업; 임업 및 어업,어업,65,16,0,0,0,0,0,0,1,0,15,0,0,0,1,15,0
3,2012-01,강원,강릉시,B,B06,광업,금속 광업,10,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
4,2012-01,강원,강릉시,B,B07,광업,비금속광물 광업; 연료용 제외,262,39,0,0,0,0,0,15,11,0,13,0,0,0,28,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1972361,2022-07,충북,충주시,R,R90,예술; 스포츠 및 여가관련 서비스업,창작; 예술 및 여가관련 서비스업,62,11,0,0,0,0,0,1,1,0,9,0,0,0,4,7,0
1972362,2022-07,충북,충주시,R,R91,예술; 스포츠 및 여가관련 서비스업,스포츠 및 오락관련 서비스업,212,44,0,1,0,0,7,4,2,0,30,0,1,7,13,23,0
1972363,2022-07,충북,충주시,S,S94,협회 및 단체; 수리 및 기타 개인 서비스업,협회 및 단체,877,146,0,0,0,0,1,1,2,4,138,0,0,6,15,121,4
1972364,2022-07,충북,충주시,S,S95,협회 및 단체; 수리 및 기타 개인 서비스업,개인 및 소비용품 수리업,135,18,0,0,0,0,5,4,2,0,7,0,0,5,8,5,0
1972365,2022-07,충북,충주시,S,S96,협회 및 단체; 수리 및 기타 개인 서비스업,기타 개인 서비스업,174,36,0,0,0,0,0,3,5,0,28,0,0,1,17,18,0

In [12]:
grouped_entr['중견기업수'] = grouped_entr.MIDPZ_CO + grouped_entr.PRTC_TRGET_MIDPZ_CO

In [13]:
grouped_entr['중소기업수'] = grouped_entr.MSLENTR_CO + grouped_entr.TLSME_CO + grouped_entr.SSLENTR_CO + grouped_entr.SCHTWR_CO + grouped_entr.DCS_EXCL_ENTRPRS_CO + grouped_entr.UN_CL_ENTRPRS_CO

In [15]:
grouped_entr.head()

,STDR_YM,CTPRVN_NM,SIGNGU_NM,INDUTY_LCLAS_CODE,INDUTY_MLSFC_CODE,INDUTY_LCLAS_NM,INDUTY_MLSFC_NM,PDSMLPZ_SCTN_CODE,BSN_NRMLT_ENTRPRS_CO,LTRS_CO,MIDPZ_CO,TLSME_CO,PRTC_TRGET_MIDPZ_CO,MSLENTR_CO,SSLENTR_CO,SCHTWR_CO,DCS_EXCL_ENTRPRS_CO,UN_CL_ENTRPRS_CO,PRCSS_LTRS_CO,PRCSS_MIDPZ_CO,PRCSS_MSLENTR_CO,PRCSS_SSLENTR_CO,PRCSS_UN_CL_ENTRPRS_CO,PRCSS_DCS_EXCL_ENTRPRS_CO,중견기업수,중소기업수
0,2012-01,강원,강릉시,A,A01,농업; 임업 및 어업,농업,172,92,0,0,0,0,2,6,10,0,74,0,0,2,18,72,0,0,92
1,2012-01,강원,강릉시,A,A02,농업; 임업 및 어업,임업,1259,131,0,0,0,0,1,6,1,1,122,0,0,1,8,121,1,0,131
2,2012-01,강원,강릉시,A,A03,농업; 임업 및 어업,어업,65,16,0,0,0,0,0,0,1,0,15,0,0,0,1,15,0,0,16
3,2012-01,강원,강릉시,B,B06,광업,금속 광업,10,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1
4,2012-01,강원,강릉시,B,B07,광업,비금속광물 광업; 연료용 제외,262,39,0,0,0,0,0,15,11,0,13,0,0,0,28,11,0,0,39

In [16]:
use_cols = ['STDR_YM','CTPRVN_NM','SIGNGU_NM','INDUTY_LCLAS_CODE','INDUTY_MLSFC_CODE','INDUTY_LCLAS_NM','INDUTY_MLSFC_NM','LTRS_CO','중견기업수','중소기업수']

In [17]:
df = grouped_entr[use_cols]

In [18]:
df.head()

,STDR_YM,CTPRVN_NM,SIGNGU_NM,INDUTY_LCLAS_CODE,INDUTY_MLSFC_CODE,INDUTY_LCLAS_NM,INDUTY_MLSFC_NM,LTRS_CO,중견기업수,중소기업수
0,2012-01,강원,강릉시,A,A01,농업; 임업 및 어업,농업,0,0,92
1,2012-01,강원,강릉시,A,A02,농업; 임업 및 어업,임업,0,0,131
2,2012-01,강원,강릉시,A,A03,농업; 임업 및 어업,어업,0,0,16
3,2012-01,강원,강릉시,B,B06,광업,금속 광업,0,0,1
4,2012-01,강원,강릉시,B,B07,광업,비금속광물 광업; 연료용 제외,0,0,39

In [87]:
entr_processed = df[df['STDR_YM'] >= '2015-11']

In [88]:
entr_processed.reset_index(drop=True, inplace=True)

### 종업원정보 그룹화

In [21]:
emply.head()

,STDR_YM,CTPRVN_NM,SIGNGU_NM,ADSTRD_NM,INDUTY_LCLAS_CODE,INDUTY_MLSFC_CODE,INDUTY_LCLAS_NM,INDUTY_MLSFC_NM,PRCSS_ENTRPRS_SE_CODE,PRCSS_ENTRPRS_SE,PDSMLPZ_SCTN_CODE,PDSMLPZ_SCTN,TOT_ENTRPRS_CO,EMPLY_CO,EMPLY_AVRG_CO,ECNY_CO,ECNY_AVRG_CO,RETIRE_CO,RETIRE_AVRG_CO,WAGE_AVRG_AM,REGIST_DE,OPERTOR_NM
0,2015-11,강원,강릉시,교1동,B,B07,광업,비금속광물 광업; 연료용 제외,4,소기업,5,5년 이상 10년 미만,1,3,3.0,0,0.0,0,0.0,24912000.0,2022-08-10,KEDSYS
1,2015-11,강원,강릉시,교1동,B,B07,광업,비금속광물 광업; 연료용 제외,4,소기업,20,20년 이상 30년 미만,1,3,3.0,0,0.0,0,0.0,26640000.0,2022-08-10,KEDSYS
2,2015-11,강원,강릉시,교1동,C,C16,제조업,목재 및 나무제품 제조업; 가구 제외,4,소기업,1,1년 이상 2년 미만,1,4,4.0,0,0.0,0,0.0,10988667.0,2022-08-10,KEDSYS
3,2015-11,강원,강릉시,교1동,C,C33,제조업,기타 제품 제조업,4,소기업,2,2년 이상 5년 미만,1,1,1.0,0,0.0,0,0.0,0.0,2022-08-10,KEDSYS
4,2015-11,강원,강릉시,교1동,D,D35,전기; 가스; 증기 및 공기조절 공급업,전기; 가스; 증기 및 공기조절 공급업,4,소기업,1,1년 이상 2년 미만,1,18,18.0,1,1.0,1,1.0,50123259.0,2022-08-10,KEDSYS

In [22]:
emply.isna().sum()

STDR_YM                       0
CTPRVN_NM                     0
SIGNGU_NM                     0
ADSTRD_NM                     0
INDUTY_LCLAS_CODE             0
INDUTY_MLSFC_CODE             0
INDUTY_LCLAS_NM               0
INDUTY_MLSFC_NM               0
PRCSS_ENTRPRS_SE_CODE         0
PRCSS_ENTRPRS_SE              0
PDSMLPZ_SCTN_CODE             0
PDSMLPZ_SCTN               4697
TOT_ENTRPRS_CO                0
EMPLY_CO                      0
EMPLY_AVRG_CO                 0
ECNY_CO                       0
ECNY_AVRG_CO                  0
RETIRE_CO                     0
RETIRE_AVRG_CO                0
WAGE_AVRG_AM             171462
REGIST_DE                     0
OPERTOR_NM                    0
dtype: int64

In [23]:
emply.PDSMLPZ_SCTN.fillna('-', inplace=True)

In [24]:
emply.WAGE_AVRG_AM.fillna(0, inplace=True)

In [25]:
grouped_emply = emply.groupby(['STDR_YM', 'CTPRVN_NM','SIGNGU_NM','INDUTY_LCLAS_CODE','INDUTY_MLSFC_CODE','INDUTY_LCLAS_NM','INDUTY_MLSFC_NM'], as_index=False).sum()

In [26]:
grouped_emply.head()

,STDR_YM,CTPRVN_NM,SIGNGU_NM,INDUTY_LCLAS_CODE,INDUTY_MLSFC_CODE,INDUTY_LCLAS_NM,INDUTY_MLSFC_NM,PRCSS_ENTRPRS_SE_CODE,PDSMLPZ_SCTN_CODE,TOT_ENTRPRS_CO,EMPLY_CO,EMPLY_AVRG_CO,ECNY_CO,ECNY_AVRG_CO,RETIRE_CO,RETIRE_AVRG_CO,WAGE_AVRG_AM
0,2015-11,강원,강릉시,A,A01,농업; 임업 및 어업,농업,31,43,9,32,25.50,1,0.5,2,1.50,60387741.0
1,2015-11,강원,강릉시,A,A02,농업; 임업 및 어업,임업,145,96,15,92,81.50,11,7.5,7,5.00,157509265.5
2,2015-11,강원,강릉시,B,B07,광업,비금속광물 광업; 연료용 제외,44,85,13,70,48.00,2,1.5,6,5.50,142326301.0
3,2015-11,강원,강릉시,C,C10,제조업,식료품 제조업,96,191,43,885,538.63,64,36.0,35,22.39,406621303.2
4,2015-11,강원,강릉시,C,C11,제조업,음료 제조업,8,2,2,10,10.00,0,0.0,0,0.00,35157333.0

In [27]:
use_cols = ['STDR_YM','CTPRVN_NM','SIGNGU_NM','INDUTY_LCLAS_CODE','INDUTY_MLSFC_CODE','INDUTY_LCLAS_NM','INDUTY_MLSFC_NM','TOT_ENTRPRS_CO','EMPLY_CO','ECNY_CO','RETIRE_CO']

In [89]:
emply_processed = grouped_emply[use_cols]

In [90]:
emply_processed.head()

,STDR_YM,CTPRVN_NM,SIGNGU_NM,INDUTY_LCLAS_CODE,INDUTY_MLSFC_CODE,INDUTY_LCLAS_NM,INDUTY_MLSFC_NM,TOT_ENTRPRS_CO,EMPLY_CO,ECNY_CO,RETIRE_CO
0,2015-11,강원,강릉시,A,A01,농업; 임업 및 어업,농업,9,32,1,2
1,2015-11,강원,강릉시,A,A02,농업; 임업 및 어업,임업,15,92,11,7
2,2015-11,강원,강릉시,B,B07,광업,비금속광물 광업; 연료용 제외,13,70,2,6
3,2015-11,강원,강릉시,C,C10,제조업,식료품 제조업,43,885,64,35
4,2015-11,강원,강릉시,C,C11,제조업,음료 제조업,2,10,0,0

In [30]:
entr_processed.head()

,STDR_YM,CTPRVN_NM,SIGNGU_NM,INDUTY_LCLAS_CODE,INDUTY_MLSFC_CODE,INDUTY_LCLAS_NM,INDUTY_MLSFC_NM,LTRS_CO,중견기업수,중소기업수
0,2015-11,강원,강릉시,A,A01,농업; 임업 및 어업,농업,0,0,161
1,2015-11,강원,강릉시,A,A02,농업; 임업 및 어업,임업,0,0,138
2,2015-11,강원,강릉시,A,A03,농업; 임업 및 어업,어업,0,0,20
3,2015-11,강원,강릉시,B,B06,광업,금속 광업,0,0,1
4,2015-11,강원,강릉시,B,B07,광업,비금속광물 광업; 연료용 제외,0,0,42

In [31]:
len(entr_processed), len(emply_processed)

(1270544, 1029159)

### 두 데이터셋 병합

In [91]:
entr_processed.reset_index(drop=True, inplace=True)
emply_processed.reset_index(drop=True, inplace=True)

In [115]:
merged_outer = pd.merge(entr_processed, emply_processed, how='outer',on=['STDR_YM','CTPRVN_NM','SIGNGU_NM','INDUTY_LCLAS_CODE','INDUTY_MLSFC_CODE','INDUTY_LCLAS_NM','INDUTY_MLSFC_NM'])
merged_inner = pd.merge(entr_processed, emply_processed, on=['STDR_YM','CTPRVN_NM','SIGNGU_NM','INDUTY_LCLAS_CODE','INDUTY_MLSFC_CODE','INDUTY_LCLAS_NM','INDUTY_MLSFC_NM'])

In [117]:
merged_inner

,STDR_YM,CTPRVN_NM,SIGNGU_NM,INDUTY_LCLAS_CODE,INDUTY_MLSFC_CODE,INDUTY_LCLAS_NM,INDUTY_MLSFC_NM,LTRS_CO,중견기업수,중소기업수,TOT_ENTRPRS_CO,EMPLY_CO,ECNY_CO,RETIRE_CO
0,2015-11,강원,강릉시,A,A01,농업; 임업 및 어업,농업,0,0,161,9,32,1,2
1,2015-11,강원,강릉시,A,A02,농업; 임업 및 어업,임업,0,0,138,15,92,11,7
2,2015-11,강원,강릉시,B,B07,광업,비금속광물 광업; 연료용 제외,0,0,42,13,70,2,6
3,2015-11,강원,강릉시,C,C10,제조업,식료품 제조업,0,0,114,43,885,64,35
4,2015-11,강원,강릉시,C,C11,제조업,음료 제조업,0,0,5,2,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026189,2022-05,충북,충주시,Q,Q87,보건업 및 사회복지 서비스업,사회복지 서비스업,0,0,42,18,331,6,15
1026190,2022-05,충북,충주시,R,R91,예술; 스포츠 및 여가관련 서비스업,스포츠 및 오락관련 서비스업,0,1,43,15,255,18,11
1026191,2022-05,충북,충주시,S,S94,협회 및 단체; 수리 및 기타 개인 서비스업,협회 및 단체,0,0,142,12,378,2,10
1026192,2022-05,충북,충주시,S,S95,협회 및 단체; 수리 및 기타 개인 서비스업,개인 및 소비용품 수리업,0,0,18,9,115,3,0
1026193,2022-05,충북,충주시,S,S96,협회 및 단체; 수리 및 기타 개인 서비스업,기타 개인 서비스업,0,0,35,6,35,1,2

In [122]:
merged_inner.to_csv('./data/병합데이터셋(결측값X).csv', encoding='cp949', index=False)
merged_outer.to_csv('./data/병합데이터셋(결측값O).csv', encoding='cp949', index=False)

In [121]:
merged_outer.INDUTY_LCLAS_NM.unique()

array(['농업; 임업 및 어업', '광업', '제조업', '전기; 가스; 증기 및 공기조절 공급업',
       '수도; 하수 및 폐기물 처리; 원료 재생업', '건설업', '도매 및 소매업', '운수 및 창고업',
       '숙박 및 음식점업', '정보통신업', '금융 및 보험업', '부동산업', '전문; 과학 및 기술 서비스업',
       '사업시설 관리; 사업 지원 및 임대 서비스업', '공공행정; 국방 및 사회보장 행정', '교육 서비스업',
       '보건업 및 사회복지 서비스업', '예술; 스포츠 및 여가관련 서비스업',
       '협회 및 단체; 수리 및 기타 개인 서비스업', '국제 및 외국기관',
       '가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동'], dtype=object)