In [1]:
import numpy as np
import pandas as pd

In [2]:
data_elec=pd.read_excel('./data/extra/elec_use.xlsx' )

data_elec.head()

  STDR_YM CTPRVN_NM SIGNGU_NM INDUTY_MLSFC_NM  elec_use
0  2015-1     서울특별시       종로구          농업. 임업    6041.0
1  2015-2     서울특별시       종로구          농업. 임업    7555.0
2  2015-3     서울특별시       종로구          농업. 임업    5420.0
3  2015-4     서울특별시       종로구          농업. 임업    4821.0
4  2015-5     서울특별시       종로구          농업. 임업    4090.0

In [3]:
data_elec = data_elec.groupby(['STDR_YM','CTPRVN_NM','SIGNGU_NM'],as_index=False).sum()

In [4]:
data_elec.head(50)

   STDR_YM CTPRVN_NM SIGNGU_NM      elec_use
0   2015-1       강원도       강릉시  1.824080e+08
1   2015-1       강원도       고성군  3.002259e+07
2   2015-1       강원도       동해시  2.575040e+08
3   2015-1       강원도       삼척시  1.104547e+08
4   2015-1       강원도       속초시  4.676312e+07
5   2015-1       강원도       양구군  2.528230e+07
6   2015-1       강원도       양양군  2.805044e+07
7   2015-1       강원도       영월군  8.541796e+07
8   2015-1       강원도       원주시  2.417811e+08
9   2015-1       강원도       인제군  3.745719e+07
10  2015-1       강원도       정선군  6.485483e+07
11  2015-1       강원도       철원군  5.528152e+07
12  2015-1       강원도       춘천시  1.694978e+08
13  2015-1       강원도       태백시  3.415235e+07
14  2015-1       강원도       평창군  7.439205e+07
15  2015-1       강원도       홍천군  7.915957e+07
16  2015-1       강원도       화천군  2.929084e+07
17  2015-1       강원도       횡성군  6.525891e+07
18  2015-1       경기도       가평군  7.542506e+07
19  2015-1       경기도       고양시  4.568280e+08
20  2015-1       경기도       과천시  3.684122e+07
21  2015-1       경기도       광명시  1.111259e+08
22  2015-1       경기도       광주시  2.406208e+08
23  2015-1       경기도       구리시  7.221869e+07
24  2015-1       경기도       군포시  1.413101e+08
25  2015-1       경기도       김포시  3.176050e+08
26  2015-1       경기도      남양주시  2.865658e+08
27  2015-1       경기도      동두천시  6.984105e+07
28  2015-1       경기도       부천시  3.916861e+08
29  2015-1       경기도       성남시  4.424384e+08
30  2015-1       경기도       수원시  4.877383e+08
31  2015-1       경기도       시흥시  3.947956e+08
32  2015-1       경기도       안산시  7.539077e+08
33  2015-1       경기도       안성시  2.662029e+08
34  2015-1       경기도       안양시  2.382368e+08
35  2015-1       경기도       양주시  2.077251e+08
36  2015-1       경기도       양평군  1.161128e+08
37  2015-1       경기도       여주시  1.417252e+08
38  2015-1       경기도       연천군  5.770542e+07
39  2015-1       경기도       오산시  1.152439e+08
40  2015-1       경기도       용인시  8.203655e+08
41  2015-1       경기도       의왕시  6.657826e+07
42  2015-1       경기도      의정부시  1.579042e+08
43  2015-1       경기도       이천시  4.165507e+08
44  2015-1       경기도       파주시  7.225730e+08
45  2015-1       경기도       평택시  6.665646e+08
46  2015-1       경기도       포천시  2.667189e+08
47  2015-1       경기도       하남시  1.066237e+08
48  2015-1       경기도       화성시  1.369011e+09
49  2015-1      경상남도       거제시  2.002514e+08

In [5]:
data_elec['STDR_YM'] = pd.to_datetime(data_elec['STDR_YM'])

In [6]:
data_elec

         STDR_YM CTPRVN_NM SIGNGU_NM     elec_use
0     2015-01-01       강원도       강릉시  182407990.0
1     2015-01-01       강원도       고성군   30022592.0
2     2015-01-01       강원도       동해시  257503954.0
3     2015-01-01       강원도       삼척시  110454730.0
4     2015-01-01       강원도       속초시   46763124.0
...          ...       ...       ...          ...
22027 2022-09-01      충청북도       제천시          0.0
22028 2022-09-01      충청북도       증평군          0.0
22029 2022-09-01      충청북도       진천군          0.0
22030 2022-09-01      충청북도       청주시          0.0
22031 2022-09-01      충청북도       충주시          0.0

[22032 rows x 4 columns]

In [7]:
data_elec['STDR_YM']=data_elec['STDR_YM'].dt.strftime('%Y-%m')

In [8]:
data_elec

       STDR_YM CTPRVN_NM SIGNGU_NM     elec_use
0      2015-01       강원도       강릉시  182407990.0
1      2015-01       강원도       고성군   30022592.0
2      2015-01       강원도       동해시  257503954.0
3      2015-01       강원도       삼척시  110454730.0
4      2015-01       강원도       속초시   46763124.0
...        ...       ...       ...          ...
22027  2022-09      충청북도       제천시          0.0
22028  2022-09      충청북도       증평군          0.0
22029  2022-09      충청북도       진천군          0.0
22030  2022-09      충청북도       청주시          0.0
22031  2022-09      충청북도       충주시          0.0

[22032 rows x 4 columns]

In [9]:
data_elec = data_elec.groupby(['STDR_YM','CTPRVN_NM','SIGNGU_NM'], as_index=False).sum()

In [10]:
data_elec.isna().sum()

STDR_YM      0
CTPRVN_NM    0
SIGNGU_NM    0
elec_use     0
dtype: int64

In [11]:
data_elec[data_elec['SIGNGU_NM']=='미추홀구']

       STDR_YM CTPRVN_NM SIGNGU_NM     elec_use
159    2015-01     인천광역시      미추홀구  201785089.0
389    2015-02     인천광역시      미추홀구  185605823.0
619    2015-03     인천광역시      미추홀구  179908984.0
849    2015-04     인천광역시      미추홀구  185901383.0
1079   2015-05     인천광역시      미추홀구  158826023.0
...        ...       ...       ...          ...
21046  2022-08     인천광역시      미추홀구          0.0
21275  2022-09     인천광역시      미추홀구          0.0
21504  2022-10     인천광역시      미추홀구          0.0
21733  2022-11     인천광역시      미추홀구          0.0
21962  2022-12     인천광역시      미추홀구          0.0

[96 rows x 4 columns]

In [12]:
data_elec.to_excel('Use_elec.xlsx',index=False)